<!--<html>-->
    <!--<head>-->
        <!--<title>Create a Todo</title>-->
    <!--</head>-->

    <!--<body>-->
        <h1>Add a Todo</h1>

        <a href="{%url 'todo:index' %}">Home</a> <br/> <br/>

        <form id="todo_form" method="post" action="{% url 'todo:add_todo' %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            <br>
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            <br>
            {% endfor %}

            <input type="submit" id="addTodoSubmit" name="submit" value="Add Todo" />
        </form>
    <!--</body>-->

<!--</html>-->