{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}" />
<h2>Todo Detail View</h2>

{% if todo %}

        <div id="detail-view-div">
            <div class="detailTodoModel"> Name </div> <div class = "detailTodoObj" >{{ todo.name }} </div> <br/>
            <div class="detailTodoModel"> Description </div> <div class = "detailTodoObj" > {{ todo.description }}</div> <br/>
            <div class="detailTodoModel"> Priority </div>  <div class = "detailTodoObj" >{{ todo.priority }}</div> <br/>
            <div class="detailTodoModel"> notes </div> <div class = "detailTodoObj" >{{ todo.notes }}</div> <br/>
            <div class="detailTodoModel"> tags </div> <div class = "detailTodoObj" >{{ todo.tags }}</div> <br/>
            <div class="detailTodoModel"> project </div> <div class = "detailTodoObj" >{{ todo.project }}</div> <br/>
            <div class="detailTodoModel"> email </div> <div class = "detailTodoObj" >{{ todo.email }}</div> <br/>
            <div class="detailTodoModel"> phone_number </div> <div class = "detailTodoObj" >{{ todo.phone_number }}</div> <br/>
            <div class="detailTodoModel"> address </div> <div class = "detailTodoObj" >{{ todo.address }}</div> <br/>
        </div>

        <br/>
{% endif %}

<a href="{%url 'todo:index' %}">Home</a>
