
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Django Apps</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="active"><a href="{% url 'todo:index' %}">Todo</a></li>
                {% else %}
                    <!--<h4><a href="{% url 'login' %}"> Todo </a></h4>-->
                    <li class="active"><a href="{% url 'todo:index' %}">Todo</a></li>
                {% endif %}


                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
            {%if isAuthenticated == "True" %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {%else%}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--<a href="{% url 'login' %}">login</a>-->
                        <a href="{% url 'login_request' %}"> Login  </a>
                    </li>
                   <li> <a href="{% url 'register' %}" >Register</a></li>
                </ul>
            {% endif %}
        </div><!--/.nav-collapse -->

    </div>
</nav>

