 {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'todo/images/favicon.ico' %} ">
    <title>Django Practice Apps Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'todo/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}" />

    <!-- Javascript constants -->
    <script type="text/javascript" src="{% static 'todo/js/todo-constants.js' %}"></script>

</head>
<body id="body-home-pg">
    {% if user.is_authenticated %}
        {% include "todo/header.html" with isAuthenticated="True"%}
    {% else %}
        {% include "todo/header.html" %}
    {% endif %}
    <!--
        This is the Homepage for the whole project. It is home to multiple projects.
        Please do not delete it or be sure about the changes if you do so.
    -->

    <div class="container">

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Django Apps</h1>
            <p> This is a template for apps which I'm creating using Django 1.9. The Templates are
                responsive and so it adapts to your viewport and device.</p>
        </div>

    </div> <!-- /container -->

    <div class="container">
        <div class="col-lg-6">
            {% if user.is_authenticated %}
                <h4><a href="{% url 'polls:index' %}"> Polls </a> </h4>
            {% else %}
                <h4><a href="{% url 'login' %}"> Polls </a> </h4>
            {% endif %}
            <p>Django app to create new  polls, user based polls. </p>
            {% if user.is_authenticated %}
                <h4><a href="{% url 'todo:index' %}"> Todo </a></h4>
            {% else %}
                <h4><a href="{% url 'login' %}"> Todo </a></h4>
            {% endif %}

            <p>Django app to create, edit, delete Todo's. I will be adding more features as I keep developing.
                The Todo's are user specific and you can add Tags, Projects and prioritise Todo's.
            </p>

        </div>

    </div>


    <!-- Loading Footer, Javascript / Jquery files -->

    {% if user.is_authenticated %}
    {% include "todo/footer.html" with isAuthenticated="True"%}
    {% else %}
        {% include "todo/footer.html" %}
    {% endif %}

</body>
</html>