{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}" />

<body  >

<h2> Todo List</h2>
{% if latest_todo_list %}
    <form method="POST" id="quickedit-todo-form">
        {% csrf_token %}
        <table>
            <tr>
                <td> Name </td>
                <td>Priority</td>
                <td>Quick Edit</td>
                <td>Todo page</td>
            </tr>
            {% for todo in latest_todo_list %}

                <tr>
                    <td>
                        <!--<a href="{% url 'detail' todo.id %}">{{ todo.name }} </a>-->
                        <input type="text" name="todoname" id="todoname{{ todo.id }}" value="{{ todo.name }}" readonly>
                    </td>
                    <td>
                        <!--<a href="{% url 'detail' todo.id %}">{{ todo.priority }}</a>-->
                        <input type="text" name="todopriority" id="todopriority{{ todo.id }}" value="{{ todo.priority }}" readonly>
                    </td>
                    <td>
                        <!--<a href="{% url 'detail' todo.id %}" id="quickedit{{todo.id}}" name="quickedit{{todo.id}}" > edit</a>-->

                            <!--<div class="fieldWrapper" id="the_post">-->
                                <!--quickedit{{todo.id}}-->
                            <!--</div>-->

                            <input type="button" id="quickedit{{todo.id}}" name="quickedit{{todo.id}}" value="edit" class="tiny button">
                            <input type="submit" id="quicksave{{todo.id}}" name="quicksave{{todo.id}}" value="update" class="tiny button" style="display:none;">
                    </td>
                    <td>
                        <a href="{% url 'detail' todo.id %}">view </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div id="results"></div>
    </form>
{% else %}
    <p> Yay!!! No todo's. </p>
{% endif %}




<script type="text/javascript" src="{% static 'todo/js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/js/todo.js' %}"></script>


</body>
