<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Django Practice Apps Home Page</title>

    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'todo/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/datepicker.min.css' %}" rel="stylesheet" />

    <!-- Javscript constants -->
    <script type="text/javascript" src="{% static 'todo/js/todo-constants.js' %}"></script>


</head>
<body >
    {% if user.is_authenticated %}
        {% include "todo/header.html" with isAuthenticated="True"%}
    {% else %}
        {% include "todo/header.html" %}
    {% endif %}

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% include "todo/sidebar.html" with isAuthenticated="True"%}
            {% else %}
                {% include "todo/sidebar.html" %}
            {% endif %}
            <div class="col-sm-9 col-md-10 custom-main">
                <div id="div-search-and-add-container">
                    <!-- /search-box-group -->
                    <div class="input-group" id="search-box-container" style="display: inline-table; width: 80%; margin-top: 30px; margin-bottom: 10px;">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="search-button" type="button">Go!</button>
                      </span>
                      <input type="text" id="search-box" class="form-control" placeholder="Search for...">
                    </div>
                    <!-- /search-box-group -->
                    <div id="div-add-todo" style="display: inline-table; width: 10%;" >
                        <a href="#" id="link-show-add"  >
                            <img id="img-add-todo" src="{% static 'todo/images/plus_sign.png' %}" title="Add Todo"/>
                        </a>
                    </div>

                </div>



                <div class="tabbable" id="tabs-todo-types">
                    <ul id="ul-tab-todo-types" class="nav nav-tabs">
                        <li class="active"><a href="#tab-todo" data-target="#tab-todo" data-toggle="tab">Todo</a></li>
                        <li><a  href="#tab-completed-todo" data-target="#tab-completed-todo" data-toggle="tab">Completed Todo</a></li>
                        <li><a  href="#tab-deleted-todo" data-target="#tab-deleted-todo" data-toggle="tab">Deleted Todo</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="error-results"></div>
                        <div class="tab-pane active" id="tab-todo">

                            <div class="row placeholders" id="div-todo-list">

                                {% if latest_todo_list %}
                                    <form method="POST" id="quickedit-todo-form">
                                        {% csrf_token %}
                                        <table class="table table-hover table-todo-list-1">
                                            <tbody>
                                                {% for todo in latest_todo_list %}
                                                    <tr class="drag-todo-item">
                                                        <td class="status" style="width: 10%; ">
                                                            <div class="square" name="todocompleted" id="todocompleted{{ todo.id }}"
                                                                 value="{{ todo.iscompleted }}"
                                                                 onclick="markasCompleted('{{ todo.name|safe }}', '{{ todo.id }}')" >
                                                            </div>

                                                        </td>
                                                        <td class="name-todo" style="width: 90%;">
                                                            <input type="hidden" class="todo-id" name="todo-id" value="{{ todo.id }}" />
                                                            <div class="list-todo-name" >{{ todo.name }}</div>
                                                            <input type="text" name="todoname"
                                                                   id="todoname{{ todo.id }}" value="{{ todo.name }}"
                                                                   readonly style="display: none;">
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </form>

                                    <div class="pagination">
                                        <span class="step-links">
                                            {% if latest_todo_list.has_previous %}
                                                <a href="?page={{ latest_todo_list.previous_page_number }}">previous</a>
                                            {% endif %}

                                            <span class="current">
                                                Page {{ latest_todo_list.number }} of {{ latest_todo_list.paginator.num_pages }}.
                                            </span>

                                            {% if latest_todo_list.has_next %}
                                                <a href="?page={{ latest_todo_list.next_page_number }}">next</a>
                                            {% endif %}
                                        </span>
                                    </div>

                                {% else %}
                                    <p> Yay!!! No todo's. </p>
                                {% endif %}

                            </div>

                            <!--<h4 class="sub-header" id="header-todo-delete"> Delete Todo</h4>-->
                            <div class="row placeholders" id="div-todo-delete" >
                                  <div id="delete_todo_div" >
                                    Are you sure you want to delete <span id="deleteTodoName"></span> ?
                                    <span id="deleteTodoId" style="display:none;"></span>
                                    <input type="button" id="deleteTodoSubmit" name="delete" value="delete" />
                                    <input type="button" id="deleteTodoCancel" name="cancel" value="cancel" />

                                </div>
                            </div>

                            <!--<h4 class="sub-header" id="header-todo-completed"> Completed Todo's</h4>-->
                            <div class="row placeholders" id="div-todo-completed" >

                            </div>


                            <!--<h4 class="sub-header" id="header-todo-project" > Project Todo's</h4>-->
                            <div class="row placeholders" id="div-todo-project" >

                            </div>

                            <!--<h2 class="sub-header" id="header-todo-tags" > Todo Tags</h2>-->
                            <div class="row placeholders" id="div-todo-tags" >

                            </div>


                        </div>

                        <div class="tab-pane" id="tab-completed-todo">

                            <div class="row placeholders" id="div-ctodo-list">
                                <form method="POST" id="quickedit-ctodo-form">
                                    {% csrf_token %}
                                    <table class="table table-striped table-hover table-todo-list" id="table-ctodo-list">
                                    </table>
                                </form>
                            </div>

                            <div class="row placeholders" id="div-ctodo-report" >

                                <div class="form-group" id="div-creport-group" >
                                    <div id="cstartDateLabel" > Start : </div>
                                    <div class='input-group date' id='div-cstartdate'>
                                        <input type='text' class="form-control" name="div-startdate" id="input-div-cstartdate" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div id="cendDateLabel" > End : </div>
                                    <div class='input-group date' id='div-cenddate'>
                                        <input type='text' class="form-control" name="div-enddate" id="input-div-cenddate" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <div class="" id='cgetReport'>
                                        <input type='button' class="btn btn-primary btn-md" name="getReport" value="Report" />
                                    </div>

                                </div>

                                <div id="creportByPriority" class="panel-body" style=""></div>
                                <div id="cresults">

                                </div>


                            </div>


                            <h4 class="sub-header" id="header-ctodo-delete"> Delete Todo</h4>
                            <div class="row placeholders" id="div-ctodo-delete" >
                                  <div id="delete_ctodo_div" >
                                    Are you sure you want to delete <span id="deletecTodoName"></span> ?
                                    <span id="deletectodoid" style="display:none;"></span>
                                    <input type="button" id="deletecTodoSubmit" name="delete" value="delete" />
                                    <input type="button" id="deletecTodoCancel" name="cancel" value="cancel" />

                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="tab-deleted-todo">

                            <div class="row placeholders" id="div-dtodo-list">
                                <form method="POST" id="quickedit-dtodo-form">
                                    {% csrf_token %}
                                    <table class="table table-striped table-hover table-todo-list" id="table-dtodo-list">
                                    </table>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

                <!--<h4 class="sub-header" id="header-todo-add" style="display:none;" >Add Todo</h4>-->
                <div class="row placeholders" id="div-todo-add" style="display:none;">
                    <div id="" >

                        <!--<a href="{%url 'todo:index' %}">Todo-Home</a> <br/> <br/>-->




                        <div class="well-sm">
                            <form class="form-horizontal" id="todo_form" action="" method="post">
                                {% csrf_token %}
                                <fieldset>
                                    <!--<legend class="" id="header-todo-detail-name">View / Edit Todo</legend>-->

                                    <!-- Name input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_name">Name</label>
                                      <div class="col-md-9">
                                          <input id="id_name" maxlength="200" name="id_name" type="text" placeholder="Todo name" class="form-control">
                                      </div>
                                    </div>

                                    <!-- Priority input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_priority">Priority</label>
                                      <div class="col-md-9">
                                          <select id="id_priority" class="form-control">
                                                <option value="high" >High</option>
                                                <option value="medium" >Medium</option>
                                                <option value="low" >Low</option>
                                             <option value="severe" >Severe</option>
                                         </select>
                                      </div>
                                    </div>

                                    <!-- Description Input -->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_description">Description</label>
                                      <div class="col-md-9">
                                          <textarea class="form-control" maxlength="400" id="id_description" name="id_description" placeholder="Please enter your message here..." rows="5"></textarea>
                                      </div>
                                    </div>

                                    <!-- Notes Input -->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_notes">Notes</label>
                                      <div class="col-md-9">
                                          <textarea class="form-control" id="id_notes" maxlength="300" name="id_notes" placeholder="Any Notes related to Todo." rows="5"></textarea>
                                      </div>
                                    </div>


                                    <!-- Tags input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_tags">Tags</label>
                                      <div class="col-md-9">
                                          <input id="id_tags" name="id_tags" maxlength="100" type="text" placeholder="Tags" class="form-control">
                                      </div>
                                    </div>

                                    <!-- Projects input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_project">Project</label>
                                      <div class="col-md-9">
                                          <input id="id_project" maxlength="200" name="id_project" type="text" placeholder="Project related to Todo" class="form-control">
                                      </div>
                                    </div>


                                    <!-- Email input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_email">E-mail</label>
                                      <div class="col-md-9">
                                          <input id="id_email" name="id_email" type="text" placeholder="Related Email" class="form-control">
                                      </div>
                                    </div>

                                    <!-- Phone Number input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_phone_number">Phone Number</label>
                                      <div class="col-md-9">
                                          <input id="id_phone_number" name="id_phone_number" type="text" placeholder="Phone Number" class="form-control">
                                      </div>
                                    </div>

                                    <!-- Address input-->
                                    <div class="form-group">
                                      <label class="col-md-3 control-label" for="id_address">Address</label>
                                      <div class="col-md-9">
                                          <textarea id="id_address" name="id_address" maxlength="200"  type="text" placeholder="Address" class="form-control"rows="5"></textarea>
                                      </div>
                                    </div>





                                    <!-- Form actions -->
                                    <div class="form-group">
                                      <div class="col-md-12 text-center">
                                        <button id="addTodoSubmit" type="button" class="btn btn-primary">Add Todo</button>
                                        <button id="addTodoCancel" type="button" class="btn btn-primary">cancel</button>
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>

                <!--<h4 class="sub-header" id="header-todo-search"> Search Results</h4>-->
                <div class="row placeholders" id="div-todo-search" >

                    <ol id="search-results">
                        <!--<li>
                            <div class="rh">
                                    <h3 class="h"></h3>
                            </div>
                        </li>
                        <li>
                            <div class="rc">
                                    <h3 class="c"></h3>
                            </div>
                        </li>-->
                    </ol>

                </div>

                <!--<h4 class="sub-header" id="header-todo-detail" style="display:none;"> View / Edit Todo</h4>-->
                <div class="row placeholders" id="div-todo-detail" >
                    <div>
                        <!--<a href="{%url 'todo:index' %}">Todo-Home</a>-->
                        <a href="#" id="show-search-results" style="display: none; ">Search Results</a>
                    </div>
                    <div id="detail-todo-id" style="display: none; " ></div>
                    <div id="detail-todo-name" style="display: none; " ></div>
                    <div id="detail-update-success" class="alert alert-success" role="alert" style="display: none;">

                    </div>
                    <div class="well-sm">
                      <form class="form-horizontal" action="" method="post">
                      <fieldset>
                        <!--<legend class="" id="header-todo-detail-name">View / Edit Todo</legend>-->

                        <!-- Name input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-name">Name</label>
                          <div class="col-md-9">
                            <input id="body-todo-detail-name" name="body-todo-detail-name" type="text" placeholder="Todo name" class="form-control">
                          </div>
                        </div>

                        <!-- Priority input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-priority">Priority</label>
                          <div class="col-md-9">
                            <select id="body-todo-detail-priority" class="form-control">
                                <option value="high" >High</option>
                                <option value="medium" >Medium</option>
                                <option value="low" >Low</option>
                                <option value="severe" >Severe</option>
                             </select>
                          </div>
                        </div>

                        <!-- Description Input -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-description">Description</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="body-todo-detail-description" name="body-todo-detail-description" placeholder="Please enter your message here..." rows="5"></textarea>
                          </div>
                        </div>

                        <!-- Notes Input -->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-notes">Notes</label>
                          <div class="col-md-9">
                            <textarea class="form-control" id="body-todo-detail-notes" name="body-todo-detail-notes" placeholder="Any Notes related to Todo." rows="5"></textarea>
                          </div>
                        </div>


                        <!-- Tags input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-tags">Tags</label>
                          <div class="col-md-9">
                            <input id="body-todo-detail-tags" name="body-todo-detail-tags" type="text" placeholder="Tags" class="form-control">
                          </div>
                        </div>

                        <!-- Projects input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-project">Project</label>
                          <div class="col-md-9">
                            <input id="body-todo-detail-project" name="body-todo-detail-project" type="text" placeholder="Project related to Todo" class="form-control">
                          </div>
                        </div>


                        <!-- Email input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-email">E-mail</label>
                          <div class="col-md-9">
                            <input id="body-todo-detail-email" name="body-todo-detail-email" type="text" placeholder="Related Email" class="form-control">
                          </div>
                        </div>

                        <!-- Phone Number input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-phone">Phone Number</label>
                          <div class="col-md-9">
                            <input id="body-todo-detail-phone" name="body-todo-detail-phone" type="text" placeholder="Phone Number" class="form-control">
                          </div>
                        </div>

                        <!-- Address input-->
                        <div class="form-group">
                          <label class="col-md-3 control-label" for="body-todo-detail-address">Address</label>
                          <div class="col-md-9">
                            <textarea id="body-todo-detail-address" name="body-todo-detail-address" type="text" placeholder="Address" class="form-control"rows="5"></textarea>
                          </div>
                        </div>





                        <!-- Form actions -->
                        <div class="form-group">
                          <div class="col-md-12 text-center">
                            <button id="detailTodoUpdate" type="button" class="btn btn-primary">update</button>
                            <button id="detailTodoCancel" type="button" class="btn btn-primary">cancel</button>
                          </div>
                        </div>
                      </fieldset>
                      </form>
                    </div>

                </div>


                <div class="row placeholders" id="div-todo-report" >

                    <div class="form-group" id="div-report-group" >
                        <div id="startDateLabel" > Start : </div>
                        <div class='input-group date' id='div-startdate'>
                            <input type='text' class="form-control" name="div-startdate" id="input-div-startdate" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div id="endDateLabel" > End : </div>
                        <div class='input-group date' id='div-enddate'>
                            <input type='text' class="form-control" name="div-enddate" id="input-div-enddate" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="" id='getReport'>
                            <input type='button' class="btn btn-primary btn-md" name="getReport" value="Report" />
                        </div>

                    </div>

                    <div id="reportByPriority" class="panel-body" style=""></div>
                    <div id="results">

                    </div>

                </div>


            </div>
        </div>
    </div>

    <!-- Loading Footer , Javascript / Jquery files -->

    {% if user.is_authenticated %}
        {% include "todo/footer.html" with isAuthenticated="True"%}
    {% else %}
        {% include "todo/footer.html" %}
    {% endif %}

    <!-- Loading Javascript specific to reports html -->
    <script type="text/javascript" src="{% static 'todo/js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'todo/js/reports.js' %}"></script>

</body>
</html>
