<div class="col-sm-3 col-md-2 custom-sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{% url 'todo:index'  %}">Todo Home <span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'todo:reports'  %}" id="scrollTo">Reports</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Tags</a></li>
        {%if isAuthenticated == "True" %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        {%else%}
            <li><a href="{% url 'login' %}">login</a></li>
            <li><a href="{% url 'register'  %}">Register</a></li>
        {% endif %}
        <li><a href="#">About</a></li>
        <li><a href="#" id="scrollTop">Back to Top</a></li>
    </ul>
</div>