input[name^="todo"], input[name^="todo"]:focus, input[name^="todo"]:hover {
    border: 0px solid #000000;
    outline: none;
}

input[name^="todoedit"], input[name^="todoedit"]:focus, input[name^="todoedit"]:hover {
    border: 1px solid #000000;
}