
/* Todo Main page media query styling for side bar and main container. */

@media (max-width: 479px) {
    .custom-sidebar {
        display: none;
    }
    .custom-main {
        padding-right:15px;
        padding-left: 15x;
        top:30px;
        width: 100%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: -73px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 93%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    .table-todo-list-1 {
        width: 98%;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel {
        width: 50px;
        margin-top: 5px;
    }
}


@media (min-width: 480px) {
    .custom-sidebar {
        display: none;
    }
    .custom-main {
        padding-right:15px;
        padding-left: 15x;
        top:30px;
        width: 100%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: -73px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 94%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    .table-todo-list-1 {
        width: 98%;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}

@media (min-width: 768px) {
    .custom-sidebar {
        position: fixed;
        top: 30px;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        width: 25%;
    }
    .custom-main {
        padding-right: 40px;
        padding-left: 55px;
        margin-left: 25%;
        top:30px;
        width: 75%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: 30px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 62%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    .table-todo-list {
        width: 98%;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}

@media (min-width: 992px) {
    .custom-sidebar {
        position: fixed;
        top: 30px;
        bottom: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        width: 25%;
    }

    .custom-main {
        padding-right: 40px;
        padding-left: 55px;
        margin-left: 25%;
        top:30px;
        width: 75%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: 30px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 63%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    .table-todo-list {
        width: 98%;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}

@media (min-width: 1280px) {
    .custom-sidebar {
        width: 24%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: 30px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 58%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}

@media (min-width: 1360px) {
    .custom-sidebar {
        width: 22%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: 30px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 54%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}

@media (min-width: 1680px) {
    .custom-sidebar {
        width: 16%;
    }
    #div-search-add-container {
        position: fixed;
        margin-top: 30px;
        background-color: white;
        z-index: 3;
    }

    #ul-tab-todo-types {
        position: fixed;
        margin-top: -9px;
        background-color: white;
        width: 53%;
        z-index: 3;
    }

    .tab-content {
        margin-top: 103px;
        position: relative;
    }
    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
        width: 200px;
        float: left;
    }
    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel  {
        float: left;
        width: 50px;
        margin-top: 5px;
    }
}


input[name^="todo"], input[name^="todo"]:focus, input[name^="todo"]:hover {
    border: 0px solid #000000; !important
    outline: none; !important
}


#add_todo_div {
    display: none;
/*    width: 400px;
    height: 200px;*/
    overflow: auto
}


#overlay-inAbox .wrapper {
    text-align: center;
}



/* More important stuff */

.overlay,
#overlay-shade {
    display: none;
}

#overlay-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.overlay {
    position: absolute;
    top: -300px;
    left: 0;
    width: 500px;
    min-height: 350px;
    z-index: 10000;
    background-color: #fff;
    border: 0px solid #fff;
    color: black;
    box-shadow: 0 0 16px #000;
} .ie7 .overlay {
    height: 350px;
} .overlay .wrapper {
    padding: 15px 30px 30px;
}


.overlay .toolbar {
    padding: 8px;
    line-height: 1;
    text-align: right;
    overflow: hidden;
} .overlay .toolbar a.close {
    display: inline-block;
        *display: inline;
         zoom: 1;
    padding: 0 8px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    line-height: 18px;
    border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
    color: #999999;
    background-color: #515151;
} .overlay .toolbar a.close span {
    color: #818181;
} .overlay .toolbar a.close:hover,
  .overlay .toolbar a.close:hover span {
    background-color: #b90900;
    color: #fff;
}


.detailTodoModel {
    display: inline-block;
    align: center;
    min-width: 200px;
}
 .detailTodoObj {
    display: inline-block;
    align: center;
    min-width: 200px;
}

h2[id*='header-todo-'], div[id*='div-todo-'] {
    display:none;
}

/* Todo Completed checkbox align center  */
table>tbody>tr>td>div {
    text-align: center;
}

/* Home page styling */
#body-home-pg {
  min-height: 2000px;
  padding-top: 70px;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
}

.body-container {
    margin-bottom: 65px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  margin-left: 10px;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.search-results {
   list-style : none;
}

#img-add-todo {
    width: 23px;
    margin-bottom: 25px;
    margin-left: 5px;

}

#img-add-todo:hover{
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(0,255,0, 0.6);
}

#div-feature-add, #div-feature-detail, #div-feature-delete, #div-feature-project {
    margin-top: 105px;
}

#div-feature-report {
    margin-top: 105px;
}

#div-search-results-container {
    margin-top: 105px;
}


/* Bootstrap Date time picker custom style start  */




#endDateLabel, #cendDateLabel {
    margin-left: 10px;

}

#div-enddate, #div-cenddate {
    margin: 0px 10px 0px 0px;
}

#div-report-group, #div-creport-group{
    margin: 20px 0px 0px 0px;
}

@media(min-width:768px) and (max-width: 992px){

    #div-startdate, #div-enddate, #div-cstartdate, #div-cenddate {
      width: 140px;
      display: inline-table;
      margin: 00px 10px 5px 0px;
    }

    #div-report-group,  #div-creport-group{
        margin: 20px 0px 0px 0px;
    }


    #startDateLabel, #endDateLabel, #cstartDateLabel, #cendDateLabel {
      display: none;
      width: 50px;
      margin-left: 0px;
    }

}

/* Bootstrap Date time picker custom style end  */

/* Todo Reports styling start */

#reportByPriority, #creportByPriority {
    margin-top: 30px;
    width:100%;
    height:314px;
    margin-bottom: 30px;
}

.highcharts-container{width:100% !important; height:100% !important;}




/* Todo Reports styling end */


/* Todo Homepage rewrite */

.square {
    width : 15px;
    height : 15px;
    border-radius : 3px;
    background: white;
    text-align: center;
    margin: auto;
    border: 1px solid lightgrey;
}

.square:hover {
    border: 1px solid black;
}

.square-checked {
    width : 15px;
    height : 15px;
    border-radius : 3px;
    background: white;
    text-align: center;
    margin: auto;
    border: 1px solid lightgrey;
    background: url('../images/tick-symbol.png');
}

.square-checked:hover {
    border: 1px solid black;
}

.table-todo-list-1 {
    margin-left: 0px;
}

.table-todo-list-1 td.status {
    /*width : 10% !important;*/
    vertical-align: middle !important;
}

.table-todo-list-1 .name-todo {
    /*width : 60% !important*/
}

.table-todo-list-1 .priority-todo{
    /*width : 30% !important*/
}

.list-todo-name {
    display : inline;
    text-align : left;
}

.name-todo .glyphicon-list {
    margin-left: 10px;
}

.reminder-date {
    display : inline-block;
    float : right;
    margin-right : 20px;
    font-size : small;
}

input[name^='todoname'], input[name^='todoname']:before, input[name^='todoname']:after  {
    width: 100%;
    padding: 8px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
}

input[name^='todonameedit'], input[name^='todonameedit']:before, input[name^='todonameedit']:after, input[name^='todonameedit']:hover {
    width: 80%;
    padding: 2px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
}

input[name^='tododateedit'], input[name^='tododateedit']:before, input[name^='tododateedit']:after, input[name^='tododateedit']:hover {
    width: 20%;
    padding: 2px;
    margin: 0px 0px 0px -5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    text-align: center;
}

input[name^='todonamesave'], input[name^='todonamesave']:before, input[name^='todonamesave']:after {
    width: 16%;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: smaller;
}

input[name^='todonamecancel'], input[name^='todonamecancel']:before, input[name^='todonamecancel']:after {
    width: 16%;
    padding: 2px;
    margin: 0px 0px 0px 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: smaller;
}

input[name^='todonamenewsave'], input[name^='todonamenewsave']:before, input[name^='todonamenewsave']:after {
    width: 16%;
    padding: 2px;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: smaller;
}

input[name^='todonamenewcancel'], input[name^='todonamenewcancel']:before, input[name^='todonamenewcancel']:after {
    width: 16%;
    padding: 2px;
    margin: 0px 0px 0px 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCC;
    font-size: smaller;
}

.div-todo-priority {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    float: right;
    display: inline-block;
}

.todoeditbuttons {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: left;
    display: inline;
}

.div-todo-list-edit {
    margin-bottom: 5px;
}

.severe {
    background: red;
}

.high {
    background: #f0ad4e;

}

.medium {
    background: yellow;

}

.low {
    background: #5bc0de;

}

#img-todo-list-add-todo {
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
}

#a-todo-list-add, #a-todo-list-add:hover {
    text-decoration: none;
}

.todoaddnewbuttons {
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.div-todo-new-priority {
    display: inline;
    float: right;
    margin-top: 5px;
}

.div-todo-new-priority > span, .div-todo-priority > span {
    padding-right: 7px;
}

.priority-flag-severe {
    color: red;
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

.priority-flag-high {
    color: #f0ad4e;
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

.priority-flag-medium {
    color: yellow;
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

.priority-flag-low {
    color: #5bc0de;
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
}

.footer {
  position: fixed;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  bottom: 0;
  z-index: 1001;
  padding-top: 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}